:host {
  display: block;
  padding: 20px;
  background-color: white;
}

h2 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 10px;
}

ul {
  list-style-type: none; 
  padding: 0;
}

li {
  margin-bottom: 10px;
  font-size: 1.2em;
}